# File temporer atau log
*.log
*.tmp
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Dependensi Node.js (jika Anda menggunakan alat build JS di masa depan)
/node_modules

# Hasil build (jika Anda menambahkan proses build)
/dist
/build

# Editor configurations
.vscode/
.idea/

# Kredensial atau data sensitif (jika ada)
*.env
.env.local
